@import url(https://fonts.googleapis.com/css?family=Lato);
body{

    text-align: center;
    color:black;
     font-family: Lato;
}

hr{
    visibility: hidden;
}

.cartaSuperior{
   background-color: rgb(236, 236, 129);
    
}
.parteinferior{
    background-color:rgb(212, 221, 212);
}