@import url(https://fonts.googleapis.com/css?family=Lato);
body{

    text-align: center;
    color:black;
     font-family: Lato;
}
h1, h2 , h3{
}
hr{
    visibility: hidden;
}

.cartaSuperior{
   background-color: rgb(236, 236, 129);
    
}
